
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Take a Picture
        </div>
        <div class="card-body">

          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group mt-3">
              <label for="picture">Captured Image:</label>
              <input type="file" accept="image/*" capture="camera" id="fileInput" formControlName="fileInput">
              <div id="result"></div>
            </div>

            <div class="form-group mt-3">
              <label for="price">Price:</label>
              <input type="number" id="price" formControlName="price"/>
            </div>

            <div class="form-group mt-3">
              <label for="date">Date:</label>
              <input type="date" id="date" formControlName="date" />
            </div>

            <div class="form-group mt-3">
              <label for="category">Category:</label>
              <select id="category" formControlName="category">
                <option></option>    
                <option *ngFor="let oneOption of listOptions" value="oneOption.name">{{oneOption.name}}</option>
              </select>
            </div>

            <div class="form-group mt-3">
              <label for="categoryExplanation">Category Explanation:</label>
              <input type="text" value="categoryExplanation" formControlName="categoryExplanation"/>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
