
<p (click)="changeDisplayedMonth('before')"><</p> <p>{{displayedMonthName}} {{displayedYear}}</p> <p (click)="changeDisplayedMonth('after')">></p>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Catégorie</th>
        <th scope="col">Catégorie Expl</th>
        <th scope="col">Prix</th>
        <th scope="col">Final Deduction</th>
        <th scope="col">Détail</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let vatCredit of vatCredits">
            <tr>
                <td>{{vatCredit.idVatCredit}}</td>
                <td>{{vatCredit.date}}</td>
                <td>{{vatCredit.category}}</td>
                <td>{{vatCredit.categoryExplanation}}</td>
                <td>{{vatCredit.price}}</td>
                <td>{{vatCredit.finalDeduction}}</td>
                <td><a [routerLink]="[vatCredit.idVatCredit]"> detail </a></td>
            </tr>
        </ng-container>
    </tbody>
  <br>
  <b>Total deductions for this month : {{totalDeductionsForMonth}}</b>
  </table>
